
.section-attendee-details {
    background: #08252B;
    border: 1px solid #0E464F;
    border-radius: 2em;
    max-width: 700px;
}

.ticket-selection-container {
    padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;



   .header-selection-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .ticket-selection-haeding {
        font-size: 1.5em;
        color: #FAFAFA;
    }

    .ticket-selection-step-count {
        font-size: 1em;
        font-family: "Roboto", serif;
        color: #FFFFFF;
    }

    .ticket-selection-step-counter {
        // width: 100%;  /* Ensure parent has width */
        height: 0.25em;
        border-radius: 4px;
        background: #0E464F;
        position: relative; /* Needed if using absolute inside */
        overflow: hidden;  /* Ensures the inner bar doesn't exceed */
    
        .ticket-selection-step-counter-inner {
            width: 14.5em;
            height: 0.25em;
            border-radius: 5px;
            background: #24A0B5;
            position: absolute; /* If you want precise positioning */
            left: 0;
        }
    }

   }

    .header-selection-container {
        margin-block-end: 2em;
    }

    .ticket-selection-title-theme {
        margin-block-end: 2.5em; // Using logical margin consistently
    }




    .ticket-selection-theme-box {
        // align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 275px;
        min-height: 243px;
        padding-inline: 1em;
        padding-block: 1em;
        border-radius: 1.5em;
        border: 2px solid #07373F;
        margin-block-end: 2em; 

        .ticket-selection-title {
            font-size: 2.8em;
            font-family: "Road Rage", serif;
            font-weight: 400;
            text-align: center;
            color: #FAFAFA;
        }

        .ticket-selection-welcome-tag {
            max-width: 15em;
            text-align: center;
            font-size: 0.875em;
            font-family: "Roboto", serif;
            color: #FAFAFA;
        }

        .ticket-selection-venue-time {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            font-family: "Roboto", serif;
            line-height: 150%;
            color: #FAFAFA;
        }
    }



    .divider{
        content: '';
        // width: 100%;
        height: 4px;
        background: #07373F;
        margin-block-end: 3em;
    }

    // Responsive Styles
    @media screen and (min-width: 800px) {
        .ticket-selection-theme-box {
           align-self: flex-start;
        }

        
        .ticket-selection-disappear {
            display: block;
        }

        .ticket-selection-title-theme {
            margin-block-end: 0.5em;
        }

        .ticket-selection-theme-box {
            width: 556px;
            height: 200px;
            padding: 1.5em;

            .ticket-selection-title {
                font-size: 3.875em;
                line-height: 100%;
            }

            .ticket-selection-welcome-tag {
                max-width: 21.25em;
                margin-block-end: 0.5em;
            }

            .ticket-selection-venue-time {
                flex-direction: row;
                gap: 1em;
            }
        }
    }



    .ticket-selection-type {
        font-size: 1em;
        font-family: "Roboto", serif;
        margin-block-end: .5em;
    }


    .ticket-selection-type-container {
        width: 18em;
        height: 17.2em;
        border: 1px solid #07373F;
        padding: 1em;
        margin-block-end: 2em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        color: #FAFAFA;
    }

    @media screen and (min-width: 800px) {
        .ticket-selection-type-container {
            width: 34.75em;
            height: 11.625em;
            border: 1px solid #07373F;
            padding: 1em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        
        }
    }

    .ticket-number {
        font-family: "Roboto", serif;
        font-size: 1em;
        color: #FAFAFA;
        
    }


    .ticket-number-dropdown {
        padding: 0.75em;
        height: 3em;
        margin-block-start: .5em;
        border-radius: 0.75em;
        border: 1px solid #07373F;
        margin-block-end: 3em; 
        background: #07373F;

        select {
            width: 17.4em;
            border: none;
            background: #07373F;
            color: #FAFAFA;
        }   
    }

    @media screen and (min-width: 800px) {

        .ticket-number-dropdown {
            padding: 0.75em;
            height: 3em;
            max-width: 34.75em;
    
            select {
                max-width: 34.75em;
                border: none;
            }   
        }
}


    .ticket-next-cancel-button-container {
        .next-cancel-button{
            display: flex;
            flex-direction: column;
            gap: 1em;

            button {
                padding-block:.75em;
                padding-inline: 1.5em;
                font-size: 1em;
                border: 1px solid #24A0B5;
                border-radius: 0.5em;
                cursor: pointer;
                background: #02191D;
                color: #24A0B5;
            }

            button:active, button:hover {
                background: #24A0B5;
                color: #FFFFFF;

            }
        }


    }

    @media screen and (min-width: 800px) {

        .ticket-next-cancel-button-container {
            max-width: 34.75em;
            max-height: 3em;
            border-radius: 1.5em;
            background: #02191D;
            .next-cancel-button {
               display: flex;
               flex-direction: row;
               justify-content: space-around;
            }
        }  

        button {
            width:13.4em
        }
}


.ticket-selection-type {
    color: #FAFAFA;
}

}