
.ticket-type-content {
    padding: 0.75em;
    border: 1px solid #197686;
    border-radius: 0.75em;
    cursor: pointer;

    .ticket-price-content {
        margin-block-end: 0.75em;

        .ticket-price-text {
            font-size: 1.5em;
            font-weight: 600;
            font-family: "Roboto", serif;
            color: #FAFAFA;
        }
    }

    .ticket-type-text {
        font-size: 1em;
        font-weight: 400;
        font-family: "Roboto", serif;
        color: #FAFAFA;
    }

    .ticket-amount-left {
        font-size: 0.875em;
        font-weight: 400;
        font-family: "Roboto", serif;
        color: #FAFAFA;
    }


    @media screen and (min-width: 800px) {

    }
}







// .ticket-type-container {
//     display: flex;
//     flex-direction: row;
//     gap: 2em;
//     // background-color: red;
//     // margin: 1em;
   
//     border-radius: .75em;
//     border: 1px solid #07373F;

//     .ticket-container {
//         // width: 15.1em;
//         // height: 4.1em;
//         padding: .5em;
       
//     }

//     .ticket-type-content {
//         // background-color: green;
//         display: flex;
//         flex-direction: row;
//         gap: 0.25em;
//     }



//     // STYLING THE TEXT
//     .ticket-type-text {
//         font-size: 1em;
//         font-family: "Roboto", serif;
//         font-weight: 400;
//         color: #FAFAFA;
//     }
//     .ticket-amount-left {
//         font-size: .875em;
//         font-family: "Roboto", serif;
//         font-weight: 400;
//         color: #FAFAFA;
//     }
    
//     .ticket-price-text{
//         font-size: 1.25em;
//         font-family: "Roboto", serif;
//         font-weight: 600;
//         text-align: right;
//         color: #FAFAFA;
//     }

//     .ticket-price-content {
//         margin-left: auto;
//         // width: 5em;
//         // height: 2.375em;
//         // background: yellow;
//         // margin-left: auto;
//         padding: .5em;
//         background: #0E464F;
//         border: 1px solid #2BA4B9;
//         border-radius: .5em;

      
//     }

// }
