#root {
  max-width: 1280px;
  max-width: 1280px;
  background-color: #EFEBE3;
  display: grid;
  place-content: center;
  place-items: center;
}



ul {
  list-style: decimal;
}


.game-title {
  margin-top: 1rem;
  text-align: center;
}